# CAO Points 2019 - Pdf - Manual Extraction

http://www.cao.ie/index.php?page=points&p=2019

## Steps to reproduce

1. Download original pdf file
2. Open original pdf file in MS Word
3. Save MS Word's converted pdf in docx format
4. Re-save Word document for editing
5. Delete header and footer of Word document
6. Delete preamble on first page
7. Select all and copy
8. Paste tables to Notepad++
9. Remove HEI name headings and paste onto each course line
10. Delete blank lines
11. Replace double tab characters with single tab
12. Change backticks to apostrophes, removed backslashes

In [1]:
# Import pandas for data frames
import pandas as pd

In [6]:
df2019 = pd.read_csv('lvl8_19_edited.csv', sep='\t')

In [7]:
df2019

,HEI,Course Code,INSTITUTION and COURSE,EOS,Mid
0,Athlone Institute of Technology,AL801,Software Design with Virtual Reality and Gaming,304,328.0
1,Athlone Institute of Technology,AL802,Software Design with Cloud Computing,301,306.0
2,Athlone Institute of Technology,AL803,Software Design with Mobile Apps and Connected...,309,337.0
3,Athlone Institute of Technology,AL805,Network Management and Cloud Infrastructure,329,442.0
4,Athlone Institute of Technology,AL810,Quantity Surveying,307,349.0
...,...,...,...,...,...
906,Waterford Institute of Technology,WD200,Arts (options),221,296.0
907,Waterford Institute of Technology,WD210,Software Systems Development,271,329.0
908,Waterford Institute of Technology,WD211,Creative Computing,275,322.0
909,Waterford Institute of Technology,WD212,Recreation and Sport Management,274,311.0
910,Waterford Institute of Technology,WD230,Mechanical and Manufacturing Engineering,273,348.0